<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rocket.laptop.repository.ProductMapper">

	<insert id="productInsert" parameterType="ProductDto">
		insert into product (product_code, category_code, product_name, product_price, product_sales)
		values(#{product_code}, #{category_code}, #{product_name}, #{product_price}, #{product_sales})
	</insert>
	
	<select id="getProductList" resultType="ProductListDto" parameterType="Map">
		select pr.* 
		from (select @ROWNUM := @ROWNUM + 1 AS rnum, p.*
	  		  from (select @ROWNUM:=0) AS r, (select p.product_code, c.category_name, p.product_name, p.product_price, p.product_reg_date, i.product_img_name, i.product_img_original_name
				    from product p, product_img i, category c
					where p.product_code = i.product_code
					and p.category_code = c.category_code
					and i.product_img_type = 1
            		order by p.product_reg_date desc) p) pr
		where rnum &gt;= #{start} and rnum &lt;= #{end};
	</select>
	
	<select id="getProductListCount" resultType="Int">
		select count(*)
		from product;
	</select>
	
	<select id="getProductDetail" resultType="ProductDetailDto" parameterType="String">
		select p.*, c.category_name
		from product p, category c
		where p.category_code = c.category_code 
		and p.product_code = #{product_code}
	</select>
	
	<delete id="productDelete" parameterType="String">
		delete from product
		where product_code = #{product_code}
	</delete>

</mapper>